 <section class="cart py-16">
     <%if(session.cart){%>
     <div class="order container mx-auto border-b border-gray-300 py-4 w-1/2">
     <div class="flex items-center">
       <img class="ordersummary" src="/img/cart.png" alt="">
       <h1 class="font-bold ml-4">Order Summary</h1>
     </div>


     <div class="pizza-list py-4">
         <%for(let pizza of Object.values(session.cart.items)){%>
       <div class="flex items-center my-8">
           <img class="w-24" src="/img/<%= pizza.items.image%>" alt="">
           <div class="ml-4 flex-1">
                <h1><%= pizza.items.name%></h1>
                <span><%= pizza.items.size%></span> 
           </div>
            <span class="flex-1"><%= pizza.qty%> pcs</span>
            <span><%= pizza.items.price * pizza.qty%> price</span>
       </div>
       <%}%>
     </div>
                  <hr>
                
                <div class="text-right ">
                    <div>
                        <span>Total Amount</span>
                        <span class="money font-bold"><% session.cart.totalPrice%></span>
                    </div>
                    <div>
                        <form action="" class="py-4">
                            <input class="border border-gray-400 p-2 w-1/2 mb-4 " type="text" placeholder="Phone Number">
                            <input class="border border-gray-400 p-2 w-1/2 " type="text" placeholder="Address">
                        </form>
                            <button class="text-white btn-orderNow font-bold rounded-full py-2 px-4">Order Now</button>
                    </div>
                    <!---<button class="text-white btn-orderNow font-bold rounded-full py-2 px-4">Login To Continue</button>  -->
                </div>
                
     </div>
<% } else {%>
      <div class="empty-cart py-16 ">
                <div class="container mx-auto">
                    <h1 class="text-3xl fond-bold mx-auto text-center mb-2">Cart Empty</h1>
                    <p class=" font-bold mb-2 text-center">You have not selected anything for order</p>
                    <img class="w-2/5 mx-auto py-12" src="/img/empty-cart.png" alt="">
                    <button class="btn-orderNow rounded-full flex items-center mx-auto text-white fond-bold py-2 px-2 " >Go Back</button>
            
                </div>
            </div>  
            <%}%>
</section> 